@charset "UTF-8";
/*Body with an angled gradiant adn overflow auto to allow scrolling if web page is longer*/
body{
    background: linear-gradient(-45deg,  #FFF8B0 0%, #287A74 100%);
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    padding: 0px;
    margin: 0px;
    overflow: auto;
}

h1,h2,h3,h4,h5,h6,p,li{
    color: white;
}

/* wrapper set a minimum height, actual height is auto so it can fit any size, padding at bottom to make the footer look better*/
#wrapper
{
    width: auto;
    min-width: 480px;
    height: auto;
    min-height: 750px;
    margin: auto;
    background-color: #55A9A0;
    position: relative;
}

/*banner*/
#banner {
    transform: translate(480px,300);
    color: #AEEED3;
    right: 100px;
}

/*Footer position is absolute so it is always at the bottom of the screen*/
#footer{
    height:100px;
    width: 100%;
    bottom: -100px;
    color: white;
    background-color: #AEEED3;
    position: absolute;
}

/*Changes the footer color text*/
#footer  h5{
    color: white;
}

/*makes photo an object*/
.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*clear*/
.clear{
    clear: both;
}

/*Makes button id text centered*/
div.relative {
  position: relative;
  left: 30px;
  border: 3px solid grey;
}

/*button class*/
.button{
    justify-content: center;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

/*Makes button id text centered*/
#button {
    text-align: center;
}

/*makes font smaller for tablet*/
#right{
    font-size: 11px;
}

/*creates a right section, use linear gradiant*/
#right{
    width:50%;
    height:264px;
    float:right;
    background: linear-gradient(to left, #287A74 0%, #FFF8B0 100%);

}

/*creates a left section, use linear gradiant*/
#left{
    width: 50%;
    height: 264px;
    float:left;
    background: linear-gradient(to right, #287A74 50%, #FFF8B0 100%);
}

/*contactForm class*/
.contactForm{
    width: 300px;
    margin: 50px auto 0 auto;
}

/*Video*/
#video{
    display: block;
    margin-left: auto;
    margin-right: auto;
}   